
  <div class="emp-title" mat-dialog-title>Employee details</div>

  <form>
    <div mat-dialog-content>
      <div class="overlay">
      <div class="row1">
        <mat-form-field class="input" appearance="outline">
          <mat-label>ID</mat-label>
          <input type="text" matInput [(ngModel)]="formData.id" [formControl]="idFormControl">
          <mat-error *ngIf="idFormControl.hasError('pattern')">Eg. NSP-61</mat-error>
        </mat-form-field>

        <mat-form-field class="input" appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput [(ngModel)]="formData.name" [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.hasError('pattern')">Name can only contain letters</mat-error>
        </mat-form-field>

        <mat-form-field class="input" appearance="outline">
          <mat-label>Department</mat-label>
          <input type="text" matInput [(ngModel)]="formData.department" [formControl]="departmentFormControl">
          <mat-error *ngIf="departmentFormControl.hasError('pattern')">Departments can be only of HR, Support or Engineer</mat-error>
        </mat-form-field>

</div>

  <div class="row2">
      <mat-form-field class="input"  appearance="outline">
        <mat-label>Address</mat-label>
        <input type="text" matInput [(ngModel)]="formData.address" [formControl]="addressFormControl">
      </mat-form-field>
  </div>

  <div class="row3">

      <mat-form-field class="input" appearance="outline">
        <mat-label>City</mat-label>
        <input type="text" matInput [(ngModel)]="formData.city" [formControl]="cityFormControl">
      </mat-form-field>

      <mat-form-field  class="input" appearance="outline">
        <mat-label>State</mat-label>
        <input type="text" matInput [(ngModel)]="formData.state" [formControl]="stateFormControl">
      </mat-form-field>
  </div>
</div>


  </div>

  <div class="row4" mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <button mat-raised-button (click)="onSubmit()" color="primary">Submit</button>
  </div>
</form>