<div class="login">
    <div class="out">
    <h1 class="title">Welcome!</h1>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl">
      <!-- <mat-hint>Your EmailID is valid!</mat-hint> -->
      @if (emailFormControl.hasError('email')) {
        <mat-error>Please enter a valid email address</mat-error>
      } 

      @if (emailFormControl.hasError('required')) {
        <mat-error>Please enter your email address</mat-error>
      } 

    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if (passwordFormControl.hasError("minlength") ){
            <mat-error>Please enter a valid password (Minimum length of 8 Characters)</mat-error>
        }
    
        @if (passwordFormControl.hasError('required')){
            <mat-error>Please enter your password</mat-error>
        }

      </mat-form-field>
      <button (click)="onSubmit()" style="width: 100%; height:5rem" mat-flat-button color="warn">Login</button>


    
  </form>

</div>
</div>







<!-- <div class="login">

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Your EmailID is valid!</mat-hint>
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          } 
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
    
    
        <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
            <input matInput [formControl]="passwordFormControl" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher">
    
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    
            @if (passwordFormControl.hasError("minLength(8)") && !passwordFormControl.hasError('required')){
                <mat-error>Please enter a valid password</mat-error>
            }
    
          </mat-form-field>
    
        
      </form>
    </div> -->