.header{
    background-color: rgb(84, 36, 243);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;

    span{
        font-size: 2.4rem;
        font-family: "poppins";
        font-weight: 600;
        letter-spacing: 0.7px;
        color: white;
    }

    .button{
        padding: 1rem 2rem;
        background-color: white;  
        transition: all 0.1s ease-out;
        cursor: pointer;
        border-radius: 5px;
    }

    .button:hover{
        background-color: rgb(205, 205, 205);
    }

    
}